.version{
    margin-left: 10px;
}

.uno{
    margin-left: 20px;
}
.dos{
    margin-left: 25px;

}
.tres{
    margin-left: 15px;

}
.imagen{
    border-radius: 8px;
    width: 68px;
    height: 75px;
    margin-left: 60px;
}
