.caja{
    width: 230px;
    height: 210px;
    text-align: center;
    margin: 10px;
    display: inline-block;
}

.card{
    height: 80%;
}

.card img{
    width: 90%;
    height: 95%;
    object-fit: contain;
    text-align: center;
}

.caja-titulo{
    margin: 0%;
}
.boton1{
    position:absolute;
}

.td-categoria{
    font-size: 5em;
}








